{% extends 'layout.html' %}
{% block body %}
<section class="m-10">
    <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;"> 7 Chakras
        and their
        psychological functions</h1>
    <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">Chakra (chakra in Sanskrit) means “wheel”
        and refers to energy points in your body. They
        are thought to be spinning disks of energy that should stay “open” and aligned, as they
        correspond to bundles of nerves, major organs, and areas of our energetic body that
        affect our emotional and physical well-being.

        The 7 chakras or energy centres not only control and energize the internal organs but
        also control and affect one’s psychological conditions. They have corresponding
        psychological functions. Recognising the functions can help us manage our emotional
        well-being on a day to day life.
    </p>

</section>

<section class="m-10" style="display: flex;
justify-content: center;"><img src="{{ url_for('static', filename='assets/workbook/seven_chakra/7chakra.jpg') }}"
        class="max-w-full h-auto rounded-lg" alt="..." />
</section>

<!-- Root chakra -->
<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            1. Root chakra (First chakra I Muladhara chakra)
        </h3>

        <div class="m-6" style="display: flex;
            justify-content: left;"><img
                src="{{ url_for('static', filename='assets/workbook/seven_chakra/rootchakra.jpg') }}"
                class="max-w-full h-auto rounded-lg" alt="..." />
        </div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> Psychological Functioning: </span> An enthusiasm is experienced as
            a result of
            the expanded
            consciousness at the root chakra. Enthusiasm is the foundation of all life and nurtures
            and enlivens our lives. Without enthusiasm, life will lose its meaning and become boring
            and stagnant.
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The element: </span>Earth
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The location: </span> Base of spine; Coccygeal Plexus
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The healing practices: </span> Reconnect with the body, Physical
            Activity, Touch, Massage,
            Bioenergetic grounding, Hath Yoga, Look at the earliest childhood relationship with the
            mother, and Reclaim the right to be here.
        </p>


    </div>

    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <h3 class="font-semibold text-red-700">
            Affirmations:</h3>
        <li>1. It is safe for me to be here</li>
        <li>2. The earth supports me and meets my needs</li>
        <li>3. I love my body and trust its wisdom </li>
        <li>4. I am immersed in abundance </li>
        <li>5. I'm here and I'm real</li>


    </ol>

    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<!-- Sacral chakra -->
<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            2. Sacral chakra (Second chakra I Swadhisthana chakra)
        </h3>

        <div class="m-6" style="display: flex;
            justify-content: left;"><img
                src="{{ url_for('static', filename='assets/workbook/seven_chakra/sacral_chakra.jpg') }}"
                class="max-w-full h-auto rounded-lg" alt="..." />
        </div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> Psychological Functioning: </span> The manifestations of
            upward-flowing energy are creativity,
            procreation, and sex drive. You could experience a lack of inspiration and creativity when
            the energy is moving downward.
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The element: </span>Water
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The location: </span> Sacral Plexus; Lower Abdomen
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The healing practices: </span> RMovement therapy, Emotional
            release or containment as
            appropriate, Inner child work, Boundary work, A 12-step program for addiction, Assigning
            healthy pleasure, and Develop Sensate intelligence.

        </p>


    </div>

    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <h3 class="font-semibold text-red-700">
            Affirmations:</h3>
        <li>1. I deserve pleasure in my life</li>
        <li>2. I absorb information from my feelings</li>
        <li>3. I embrace and celebrate my sexuality</li>
        <li>4. My sexuality is sacred</li>
        <li>5. I move easily and effortlessly</li>
        <li>6. Life is pleasurable</li>

    </ol>

    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<!-- Navel chakra -->
<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            3. Solar plexus chakra (Third chakra | Manipura chakra)
        </h3>

        <div class="m-6" style="display: flex;
            justify-content: left;"><img
                src="{{ url_for('static', filename='assets/workbook/seven_chakra/navel_chakra.jpg') }}"
                class="max-w-full h-auto rounded-lg" alt="..." />
        </div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> Psychological Functioning: </span> TThis chakra's upward energy
            flow emerges as jealousy, greed,
            joy, and generosity
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The element: </span>Fire
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The location: </span> Solar Plexus
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The healing practices: </span> Risk-taking (deficiency), Grounding
            and emotional contact, Deep
            relaxation, stress control (excess)Vigorous exercise (running, aerobics, etc.), Martial arts,
            Sit-ups, Psychotherapy; Build Ego strength; release or contain anger; work on shame
            issues; strengthen the will, Encourage autonomy

        </p>


    </div>

    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <h3 class="font-semibold text-red-700">
            Affirmations:</h3>
        <li>1. I honour the power within me.
        </li>
        <li>2. I accomplish tasks easily and effortlessly.
        </li>
        <li>3. The fire within me burns through all blocks and fears.
        </li>
        <li>4. I can do whatever I wish to do.</li>
    </ol>

    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<!-- Heart chakra -->
<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            4. Heart chakra (Fourth chakra | Anahata chakra)
        </h3>

        <div class="m-6" style="display: flex;
            justify-content: left;"><img
                src="{{ url_for('static', filename='assets/workbook/seven_chakra/heart_chakra.jpg') }}"
                class="max-w-full h-auto rounded-lg" alt="..." />
        </div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> Psychological Functioning: </span> Fear, love, and hatred are the
            three manifestations of the
            energy that flows through the heart chakra. Anyone who experiences love, hatred, or fear
            can feel it in their heart region.
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The element: </span>Air
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The location: </span> Chest, Heart, Cardiac Plexus
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The healing practices: </span> Breathing exercises, Pranayama,
            Work with arms, reaching out,
            taking in, Journaling, Self Discovery, Psychotherapy, Examining assumptions about
            relationships, Emotional release of grief, Forgiveness with appropriate inner child work,
            Codependency work, Self-acceptance, Anima-Animus integration.

        </p>


    </div>

    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <h3 class="font-semibold text-red-700">
            Affirmations:</h3>
        <li>1. I am worthy of love
        </li>

        <li>2. I am loving to myself and others
        </li>

        <li>3. There is an infinite supply of love
        </li>

        <li>4. I live in balance with others</li>
    </ol>

    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<!-- Throat chakra -->
<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            5. Throat chakra (Fifth chakra | Vishuddhi chakra)
        </h3>

        <div class="m-6" style="display: flex;
            justify-content: left;"><img
                src="{{ url_for('static', filename='assets/workbook/seven_chakra/throat_chakra.jpg') }}"
                class="max-w-full h-auto rounded-lg" alt="..." />
        </div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> Psychological Functioning: </span> Gratitude and grief are the
            manifestations of the energy
            when it moves through the throat chakra. When you are grieving, your throat gets
            choked. Your throat also gets choked up when you're feeling especially grateful.
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The element: </span>Sound
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The location: </span> Throat, Pharyngeal plexus
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The healing practices: </span>Loosen neck and shoulders, Release
            voice, Singing, Chanting,
            Toning, Storytelling, Journal writing, Automatic writing, Practice silence (excess), Nongoal-oriented
            creativity, Psychotherapy, Learning communication skills, Complete
            communication, Letter writing, Inner child communication, Voice dialogue
        </p>


    </div>

    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <h3 class="font-semibold text-red-700">
            Affirmations:</h3>

        <li>1. I hear and speak the truth
        </li>
        <li>2. I express myself with clear intent
        </li>
        <li>3. Creativity flows in and through me
        </li>
        <li>4. My voice is necessary</li>
    </ol>

    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<!-- Third eye chakra -->
<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            6. Third eye chakra (Sixth chakra | Ajna chakra)
        </h3>

        <div class="m-6" style="display: flex;
            justify-content: left;"><img
                src="{{ url_for('static', filename='assets/workbook/seven_chakra/third_eye_chakra.jpg') }}"
                class="max-w-full h-auto rounded-lg" alt="..." />
        </div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> Psychological Functioning: </span> Anger, Awareness and Alertness
            are the three forms in which
            energy manifests when it flows through this chakra. The third eye chakra is the seat of
            wisdom and knowledge that has been awakened, as well as the seat of anger
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The element: </span>Light
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The location: </span> Forehead, brow, Carotid plexus, Third Eye
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The healing practices: </span>Create visual art, Visual
            stimulation, Meditation, Psychotherapy,
            Colouring and drawing, Art therapy, Working with memory, Connecting images with
            feeling, Dreamwork, Hypnosis, Guided visualization, and Past life regression therapy
        </p>


    </div>

    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <h3 class="font-semibold text-red-700">
            Affirmations:</h3>

        <li>1. I see things in clarity
        </li>
        <li>2. I am open to the wisdom within
        </li>
        <li>3. I can manifest my vision</li>

    </ol>

    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>


<!-- Crown Chakra -->

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            7. Crown chakra (Seventh chakra | Sahasrara chakra)
        </h3>

        <div class="m-6" style="display: flex;
            justify-content: left;"><img
                src="{{ url_for('static', filename='assets/workbook/seven_chakra/crown_chakra.jpg') }}"
                class="max-w-full h-auto rounded-lg" alt="..." />
        </div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> Psychological Functioning: </span>When energy rises to the top of
            the head, one experiences joy.
            Duality, conflict, and separation disappear once someone is firmly established there. You
            feel connected and one with everything.
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The element: </span>Thought
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> The location: </span> Cerebral Cortex
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold"> TReestablish physical, and emotional connection (excess),
                Reestablish spirit communication, Learning and study, Spiritual discipline, Meditation,
                Psychotherapy, Examine belief systems, Develop inner witness, and Work with a higher
                powe
        </p>


    </div>

    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <h3 class="font-semibold text-red-700">
            Affirmations:</h3>

        <li>1. Divinity resides within
        </li>
        <li>2. I am open to new ideas
        </li>
        <li>3. Information I need comes to me
        </li>
        <li>4. The world is my teacher
        </li>
        <li>5. I am guided by the higher power
        </li>
        <li>6. I am guided by inner wisdom</li>

    </ol>

    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>
{% endblock %}