{% extends 'layout.html' %}
{% block body %}

<section class="m-10">
    <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">What Is
        Body
        Intelligence?</h1>
    <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">Body intelligence is about how aware you
        are of your body, what you know about your body and what you actually do for and with your body. The body is an
        intelligent
        organism capable of acting independently of the mind via its self-regulation and
        feedback systems. Each cell in our body holds memory and forms neural pathways which
        determine our response depending on our previous experiences. The body is the only
        place through which the mind can function. Mind and Body are interlinked with each
        other. Hence it becomes even more important to be aware of your body & build a healthy
        & happy relationship with the body</p>

</section>

<hr>

<section class="m-10">
    <div>
        <ol>
            <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700"
                style="font-size: 1.25rem">
                Tips
                to apply
                in
                your day to
                day life</h3>

            <li class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg"> 1. Meditate using your breath and
                body
                movements

            </li>

            <li class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg"> 2. Spend at least a minute every
                day
                being mindful with your body
            </li>

            <li class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                3. Dancing, and exercising (doing these activities mindfully will help you get to know your body and its
                capacity better)</li>

        </ol>
    </div>
    <hr class="w-1/4 mt-4 mb-4 align-left">
    <ol>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            Affirmations:</h3>

        <li class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg"> 1.I appreciate my body for everything
            it does for me



        </li>

        <li class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg"> 2. I am perfect, whole, and complete
            just the way I am
        </li>

        <li class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            3. I feed my body healthy nourishing food and give it healthy nourishing exercise because it deserves to be
            taken care of </li>

    </ol>
</section>

<hr>

<section class="m-10">
    <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">The
        Connection Between Body and Emotions </h1>


    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            Awareness :
        </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">Our mind and body are connected.
            Emotions
            are felt in our bodies. For example, when
            you are stressed, you may feel your neck or head aching. That’s your body’s way of
            responding to stress. You can use your body to release this stress by moving those body
            parts consciously.
        </p>
    </div>

    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            Tips to apply in your day-to-day life:
        </h3>

        <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <li>1. Becoming aware of the sensations in your
                body will help you understand your
                emotions better</li>
            <li>2. Naming the emotions that you feel rather than saying “I am fine” or “I am good”.
                This will help you feel more in touch with yourself and will make you feel more
                understood and confident in yourself</li>
        </ol>
    </div>

    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            Affirmations: </h3>

        <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <li>1. My body is a safe haven for all my emotions
            </li>
            <li>2. I trust my body to tell me everything it needs in perfect time </li>
            <li>3. My mind is brilliant; my body is healthy; my soul is tranquil </li>
        </ol>
    </div>
</section>

<hr>

<section class="m-10">
    <div>
        <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">
            Understanding 5 Elements. Their relevance with our body
            and day-to-day Life</h1>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold"> The universe is made up of the five elements: </span>
            Air, Water, Fire, Earth, and
            Sky.
            Understanding these elements helps us better understand both the physical laws of
            nature and the constitution of our bodies.
            <br>
            Earth and water are positioned at the bottom of the body, below the navel; fire is set in
            the centre of the torso, and air and space are found in the upper body. This is the natural
            order of the elements in the body.
            <br>
            The elements have been understood by humans in their physical aspects. Humans have a
            close relationship with nature, and our surroundings have a significant impact on both
            our physical and mental health. When closely observed, the elements of nature reveal the
            wisdom necessary for a healthy lifestyle.
        </p>
    </div>

    <div class="embed-responsive embed-responsive-1by1 relative aspect-w-16 aspect-h-9 p-6"
        style=" display: flex; justify-content: center; align-items: center;">
        <iframe class="object-center w-auto" width="560" height="315"
            src="{{ url_for('static', filename='/assets/workbook/element.mp4') }}" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="padding: 0.5%; border-radius: 2%;"></iframe>
    </div>

    <div>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="text-red-700 font-semibold">Air:</span>
            The element of air signifies purity and the ability to keep moving upward. Highs and lows are a part of
            life, but rising after every fall is what makes us stronger. It doesn't matter how many times you fall
            in
            life; how well you get back up and go forward truly matters.

            <br>

            <span class="text-red-700 font-semibold">Water:</span>
            The element of water represents the flow. Just as the water, the free-flowing of energy, and our
            emotions,
            without any judgment or resistance are what the natural flow is all about.

            <br>

            <span class="text-red-700 font-semibold">Fire:</span>
            The element of fire is about passion and confidence. Anything that comes into contact with fire will
            burn,
            but we can control what will burn. We need to burn with this fire all unfavourable thoughts that come to
            mind and have an impact on us.

            <br>

            <span class="text-red-700 font-semibold">Earth:</span>
            The element of earth represents grounding. It provides strength, stability, balance, calmness,
            grounding,
            and resilience
            <br>

            <span class="text-red-700 font-semibold">Space:</span>
            The space element is vast, unlimited, free, and boundless; it has no ego and contains everything of
            creation. The problem arises when we incorrectly use the limitless capacity. Being selfless in daily
            life is
            the first correct utilization of this infinite capacity. Your mind grows more open, unrestricted, and
            silent
            the more open and accepting you are.


            <br>

        </p>
    </div>

    <div>
        <div>
            <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700"
                style="font-size: 1.25rem">
                Daily Affirmations: </h3>

            <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                <li>1. I am light, I am moving ahead and upward.
                </li>

                <li>2. My energy and my emotions flow through me without any resistance.
                </li>

                <li>3. I am filled with passion and confidence.
                </li>
                <li>3. I am filled with passion and confidence.
                </li>
                <li>5. I am open to the experience, and I accept it with an open mind.</li>
            </ol>
        </div>
    </div>
</section>

<hr>

<section class="m-10">

    <div>
        <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">
            Connection with Emotions and Body Pain</h1>
    </div>
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            Awareness </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">


            For our body, pain, whether emotional or physical, is linked to changes in the prefrontal cortex and
            cingulate cortex. Therefore, there is no particular way for our brain to figure out whether this is physical
            pain or emotional pain and therefore they both feel almost the same way for human beings. When our body
            perceives this emotional pain, it starts responding to this impact like any physical pain.


        </p>
    </div>

    <div>
        <div>
            <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700"
                style="font-size: 1.25rem">
                Tips to apply in your day-to-day life:
            </h3>

            <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                <li>1. To be aware that EVERYTHING our body does is its way of protecting us from the
                    perceived threat
                </li>

                <li>2. Develop a healthier relationship with your body. Start communicating with your body
                    compassionately.
                </li>


            </ol>
        </div>
    </div>

    <div>
        <div>
            <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700"
                style="font-size: 1.25rem">
                Affirmations:

            </h3>

            <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                <li>1. My body is my protector.

                </li>

                <li>2. I trust my body to tell me everything it needs in perfect time.

                </li>
                <li>3. It is safe for me to connect with my body.</li>

            </ol>
        </div>
    </div>
</section>
{% endblock %}