{% extends "layout.html" %}

{% block body %}
<section class="m-10">
    <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">
        Connecting acknowledging & accepting your emotions
    </h1>

    <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
        Impact of keeping emotions bottled up
    </h3>

    <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">The Majority of people hold in their
        emotions rather than processing them or expressing
        them because they think the alternative is someone who cries all the time, is incredibly
        angry and erratic, and can't control themselves. But suppressing emotions is not a good
        long-term strategy It has marked negative effects on your emotional and physical health.
    </p>

    <h3 class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg text-red-700 font-bold">
        Effects on emotional wellbeing
    </h3>

    <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        If we push our feelings down and down and try to avoid them, eventually, they will
        explode out more fiercely than before. It’s like a pressure cooker, if you keep the steam
        within, it will explode at some point.
        <br>
        However, when we process our emotions regularly rather than ignoring them, we can
        lead a much happier and more fulfilled life without the sudden emotional outbursts, just
        as in a boiling pot, if the water evaporates continuously there is no pent-up steam
        generated and thus no explosion.
        <br>
        “Because men are taught more to display less emotion, they, in particular, run the risk
        of exploding in rages as they finally unleash their pent-up emotions, and suffering
        long-term physical and psychological damage for failing to manage stress healthily.
    </p>

    <h3 class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg text-red-700 font-bold">
        Effects on physical wellbeing
    </h3>

    <div>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 1. Your Stomach Twists Itself Into Knots: </span>
            The chronic stress that comes from
            unresolved emotions can trigger your sympathetic nervous This slows digestion,
            resulting in gas, bloating, constipation, vomiting, and, occasionally, ulcers.
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 2. Your Neck And Shoulders Scream From Stress:</span>
            The corrugator muscles in the
            forehead and brow tighten in response to emotional stress, producing a
            frown, and a tight corrugator muscle is often a good indicator of stress
            throughout the entire body, psychologist Daniel Goleman
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 3. You May Experience Headaches And Migraines:</span>
            The corrugator muscles in the
            forehead and brow tighten in response to emotional stress, producing a
            frown, and a tight corrugator muscle is often a good indicator of stress
            throughout the entire body, psychologist Daniel Goleman
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 4. Stress Might Mess With Your Heart :</span>
            One <a href="http://http://www.jpsychores.com/article/S0022-3999%252813%252900303-6/abstract"
                target="_blank" rel="noopener noreferrer">study</a> conducted by psychologists
            from the Harvard School of Public Health and the University of Rochester found
            that suppressing emotions may increase the risk of dying from heart disease
            and certain forms of cancer. When more complicated feelings of sadness and
            shame are buried take the form of anger causing a rush of stress hormones
            which causes blood vessels to tighten as blood pressure increases, which can
            wear on artery walls over time.
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 5. Lowers immunity:</span>
            Studies by Pennebaker and his colleagues (1997) demonstrated
            that individuals who repress their emotions also suppress their body’s immunity,
            making them more vulnerable to a variety of illnesses ranging from common colds
            to cancer
        </p>
    </div>
    <hr class="w-1/4 mt-4 mb-4 align-center">
</section>


<section class="m-10">
    <div>
        <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">
            Daily activities to process emotions
        </h1>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 1. Journal: </span>
            Write about how you are feeling, and any thoughts or emotions that are
            lingering in your mind. It’s helpful to acknowledge both pleasant and unpleasant
            emotions. You can choose from a variety of formats based on what works best for
            you. You can find some journaling templates in this worksheet on page
        </p>

    </div>

    <div>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg p-6">
            <span class="font-semibold text-red-700"> a. Freestyle journaling: </span>
            Write whatever comes to your mind in any way you
            like. Just keep writing without judging yourself and without any filters.
            Honesty is key.
            <br>

            <span class="font-semibold text-red-700"> b. Structured: </span>You can
            follow any of the templates shared in the workbook
            below.
        </p>


        <h3 class="font-bold capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            Journal Formats
        </h3>

        <div>
            <h3 class="w-full font-bold text-red-700 md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                I. Identifying Emtoions </h3>

            <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg ml-6">
                a. Today I am happy about...
                <br>
                b. Sad/worries about
                <br>
                c. Angry/frustrated about
                <br>
                d. Excited about
            </p>
        </div>

        <div>
            <h3 class="w-full font-bold text-red-700 md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                II. Gratitude journal:
            </h3>

            <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg ml-6">
                a. What went well today
                <br>
                b. Who helped or supported me
                <br>
                c. What am I grateful for

            </p>
        </div>

        <div>
            <h3 class="w-full font-bold text-red-700 md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                III. 10 minutes to reflect on your day:
            </h3>

            <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg ml-6">
                <span class="font-bold"> Reflect on following things and journal it everyday</span>

                <br>
                a. 3 Moments You'd like to remember.
                <br>
                b. One of the day's triumphs, big or small
                <br>
                c. One of the day's challenges, big or small.
                <br>
                d. One thing you learned from your triumph or challenge
                <br>
                e. One idea from today that you'd like to explore further

            </p>
        </div>


        <div>
            <h3 class="w-full font-bold text-red-700 md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                IV. Processing the day
            </h3>

            <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg ml-6">

                <br>
                a. What did I accomplish today
                <br>
                b. What all I put in my best effort in
                <br>
                c. What did I learn today?
                <br>
                d. How do I feel?
            </p>
        </div>

    </div>

    <div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 2. Draw/Colour: </span>
            Art is a wonderful way to connect with and create a safe space of
            expression for your emotions. You can choose one of the following ways:
            <br> a. Put down your emotions on paper using colours. Let it be abstract, allowing
            for colours to express how you feel inside
            <br> b. Use mandala to connect with self, pair it with a breathing rhythm
        </p>

        <h3 class="font-bold capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            Color your emotions </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Use colours to express how you are feeling within. Let it be abstract. This paper is you
            and colours are your emotions. Now let it flow however it comes to you. Use the space
            below
        </p>

        <h3 class="font-semibold capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            Mandala </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Few Mandalas can be found in the next few pages. Take some colours, and keep filing in
            as you please. After you finish any one small segment, do a breathing rhythm
            <br>
            Inhale 4 counts– hold 4 counts – exhale 4 counts – hold 4 counts.
        </p>

        <img src="{{ url_for('static', filename='assets/workbook/mandala_1.jpg') }}"
            class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />
        <img src="{{ url_for('static', filename='assets/workbook/mandala_2.jpg') }}"
            class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />
        <img src="{{ url_for('static', filename='assets/workbook/mandala_3.jpg') }}"
            class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />


    </div>


    <div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 3. Emotion log: </span>
            Keep a chart paper where you log in how you feel. You can use
            emoticons or can use words to express yourself. This method helps in gently being
            mindful of our emotions and acknowledging them. It also helps us objectively see
            how we have been feeling for over a week or month and helps us recognize when
            we may need to pay attention to or process some emotion a little more deeply
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold"> Ways to practice </span>
            Write the emotion you are experiencing each day before you start work
            and/or at the end of the day
        </p>

        <img src="{{ url_for('static', filename='assets/workbook/emotional_log.jpg') }}"
            class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />

        <img src="{{ url_for('static', filename='assets/workbook/emotional_log_chart.jpg') }}"
            class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />
    </div>

    <div>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 4. Connect & accept your thoughts and emotions with love: </span>
            Checking in with your
            body is a great way of understanding and acknowledging your emotions. Follow
            the following steps:
        </p>

        <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <li>a. Sit in a comfortable posture
            </li>
            <li>b. Bring awareness to the breath moving in and out at the tip of your nose
            </li>
            <li>c. Allow yourself to become aware of your thoughts one by one, and just go a
                little deeper. For each thought:</li>
            <li class="ml-6">i. Become aware of the thought and emotions
            </li>
            <li class="ml-6">ii. The thoughts attached to this thought and emotions. Label them
            </li>
            <li class="ml-6">iii. Emotions attached to this thought and emotions. Label them
            </li>
            <li class="ml-6">iv. Sensations in your body attached to this thought and emotions.
                Label them</li>
            <li class="ml-6">v. Then say thank you to the thoughts and emotions and allow them to
                pass out of your head</li>
            <li>d. Repeat the above till no more thoughts and emotions are there within.
                Then stay connected to quietness.</li>
            <li>e. When comfortable – open your eyes.
            </li>
        </ol>


    </div>
    <div>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-red-700"> 5. Expressing love to self: </span>
            Hoʻoponopono is a great activity to connect with self and
            develop a healthy relationship with self. Say the following to yourself:
        </p>
        <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">

            <li>a. I Am sorry for …….
            </li>
            <li>b. I thank you for….
            </li>
            <li>c. I Love you for….
            </li>
            <li>d. I accept you for who you are
            </li>

        </ol>
    </div>

    <div>
        <div>

            <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
                <span class="font-semibold text-red-700"> 4. Connect & accept your thoughts and emotions with love:
                </span>
                Checking in with your
                body is a great way of understanding and acknowledging your emotions. Follow
                the following steps:
            </p>

            <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg font-bold">
                <span>
                    a. Daily affirmation of self love and acceptance:
                    <br>
                    <img src="{{ url_for('static', filename='assets/workbook/daily_affirmation_for_selflove.jpg') }}"
                        class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />
                </span>
                <br>
                <span>
                    b. Daily affirmation of acknowledgement
                    <br>
                    <img src="{{ url_for('static', filename='assets/workbook/daily_affirmation_for_acknowledgement.jpg') }}"
                        class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />
                </span>
            </p>
        </div>
    </div>

</section>
{% endblock %}