{% extends 'layout.html' %}
{% block body %}

<section class="m-10">
    <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">LIMITING
        BELIEFS
    </h1>
    <div class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <p class="mb-6"> Beliefs that limit your potential.</pc>

        <p> These are essentially assumptions or perceptions about self, others, or the way the world
            works that hold you back from achieving what you are capable of. These beliefs are not
            true and often keep you from seeing all that there is to the world. Limiting beliefs can:
        </p>

    </div>

    <div style="display: flex;
        justify-content: left;"><img src="{{ url_for('static', filename='assets/workbook/limiting_beliefs.jpg') }}"
            class="max-w-full h-auto rounded-lg" alt="..." />
    </div>

</section>


<section class="m-10">

    <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
        What are self-fulfilling prophecies?
    </h3>
    <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        A self-fulfilling prophecy is a belief or expectation that an individual holds about a future
        event that manifests because the individual holds it. Our mind is a powerful tool and we
        can use it to further ourselves or inhibit ourselves. If we believe that something will go
        wrong, our beliefs and expectations influence our behaviour at the subconscious level to
        ensure that our prophecy comes true.

    </p>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-2 flex items-center">
        <div class="mb-4">
            <img src="{{ url_for('static', filename='assets/workbook/limiting_beliefs_thought_cycle.png') }}"
                class="max-w-full h-auto rounded-lg" alt="">
        </div>

        <div class="mb-4">
            <img src="{{ url_for('static', filename='assets/workbook/limiting_beliefs_thought_chart.png') }}"
                class="max-w-full h-auto rounded-lg" alt="">
        </div>


    </div>

    <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        Limiting beliefs gives rise to restrictive and negative thoughts which create self-fulfilling
        prophecies (often negative). We then act, behave, perceive, make choices and pay
        attention to things in accordance with our self-fulfilling prophecies. Undoubtedly what follows are the
        undesirable results of the prophecy, which further strengthens the limiting
        beliefs and perpetuates behaviour and thought patterns within us. This traps us in an
        endless and vicious cycle of self-sabotage, unhappy and unfulfilled life.
    </p>

</section>

<section class="m-10">

    <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
        Questionnaire for limiting belief
    </h3>
    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">

        <li>1. What are the areas in your life where you feel stuck? Or you’re not being able to
            achieve what you want to?</li>
        <li>
            2. What do you want to achieve in this area?</li>

        <li>3. What do you believe about yourself that’s stopping you from being able to achieve
            what you want?</li>
        <li>4. What do you believe about others that’s stopping you? </li>
        <li>5. What do you believe about life or the way the world works that’s stopping you?
        </li>
        <li>6. What rules do you have about how you should/ought to/must behave, that are
            getting in the way of you moving forwards?</li>
    </ol>
</section>


<section class="m-10">

    <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
        Refer to the list of beliefs below to answer Q 3-6. You can tick the beliefs you hold
    </h3>


    <iframe class="airtable-embed "
        src="https://airtable.com/embed/shr9Y962xNpws43n1?backgroundColor=blue&viewControls=on" frameborder="0"
        onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>

</section>

<section class="m-10">

    <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
        Let’s try to assess:
    </h3>
    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">

        <li>1. Are these beliefs really true?
        </li>
        <li>
            2. From where could you have picked up this belief?
        </li>
        <li>3. If you continue holding on to this belief what would happen?
        </li>
        <li>4. What is the alternate belief that you would want to seed into your subconscious
            mind?</li>
    </ol>
</section>

<hr>
<section class="m-10">
    <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">What is
        our inner child and how to take care of it?

    </h1>

    <div style="display: flex;
            justify-content: center;"><img src="{{ url_for('static', filename='assets/workbook/inner_child.jpg') }}"
            class="max-w-full h-auto rounded-lg" alt="..." />
    </div>

    <div class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <p class="mb-6"> The inner child is a part of our subconscious mind. It's that part of us which existed
            right
            from the moment we are born. It holds emotions, memories, and beliefs from the past as
            well as hopes and dreams for the future. When we make space for inner child healing, we
            often notice an overall improvement in understanding the self.
        </p>

    </div>


</section>
<section class="m-10">

    <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
        Tips to apply in your day-to-day life:
    </h3>
    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">

        <li>1. Building a relationship with the inner child by talking to it, and listening to what it
            has to say</li>
        <li>2. Looking at old pictures of yourself and saying everything that you would have
            liked to hear when you were at that age.</li>
        <li>3. Imagine that you are hugging your inner child.</li>
        <li>4. Write a letter to your inner child.</li>
    </ol>


    <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
        Affirmations:
    </h3>
    <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">

        <li>1. I love you
        </li>
        <li>2. I'm sorry, you went through that, you did your best.
        </li>
        <li>3. It's okay to love myself now as I continue to evolve.</li>
    </ol>
</section>

<section class="m-10">
    <div style="display: flex;
    justify-content: center;"><img
            src="{{ url_for('static', filename='assets/workbook/things_your_inner_child_need_to_hear.jpg') }}"
            class="max-w-full h-auto rounded-lg" alt="..." />
    </div>
</section>
{% endblock %}