{% extends 'layout.html' %}

{% block body %}

<section class="m-10">
    <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">
        THE WAY FORWARD
    </h1>

    <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">You started your Holistic well-being and
        personal growth journey through this retreat, but
        let’s not stop here. It takes 21 days to make a habit. So let’s move full steam ahead and
        practice simple mindfulness activities to stay happy, healthy and peaceful in life.
        <br>
        <span class="font-bold">I commit to doing the following Mindfulness Rituals each day
        </span>
        <br>
        <span class="text-red-700 font-semibold"> Morning Ritual:</span> Wim hof breathing, 7 chakra meditation,
        Ho'ponopono,
        Affirmations,
        Grounding meditation to integrate, Mandala, Moving into stillness
        <br>
        <span class="text-red-700 font-semibold">Afternoon Ritual:</span> Mindful eating, Five finger breathing, Body
        scan,
        Affirmations
        <br>
        <span class="text-red-700 font-semibold"> Night Ritual:</span>4-7-8 breathing, Trataka, Sound healing, Gratitude
        journal/meditation, Body
        scan, Five finger breathing. <br>

        <span class="text-red-700 font-bold">( Look for the instructions on each activity below )</span>
    </p>

    <img src="{{ url_for('static', filename='assets/workbook/21_days_of_mindfulness.jpg') }}"
        class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />
    <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg font-bold">Repeat the same activities for 3
        weeks, please feel free to change the activity based on
        your preference</p>
</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            1. Wim Hof breathing :
        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class=" font-semibold"> Step 1: Settle down & connect with your body: </span> Get
            Comfortable. Sit in a meditation
            posture, close your eyes connect with each part of your body, and slowly bring your
            attention to your breath take 10 slower deeper, and longer breaths.
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class=" font-semibold"> Step 2: 30 fast breaths:</span>Then Take 30 Deep Fast Breaths. 1
            sec inhale 1 sec exhale from
            your nose and try to clear your mind from any kind of worry
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold"> Step 3: The Hold (1.00 - 1.30 min): </span> After the 30th
            exhalation, inhale one final time, as
            deeply as you can and exhale completely and hold for 1 min in the first round and 1.30
            min in the next 2 rounds
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold"> Step 4: Recovery Breath: </span> After the hold, take a deep
            inhalation and hold the breath
            inside for 15 seconds as a recovery breath and exhale.
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-center"> PLEASE NOTE: Repeat the same cycle 3 times back to
                back
            </span>

            <br><br>

            <span class="font-bold">Last Step: </span>Come back to the normal rhythm of breathing, take 10 deep breaths
            again,
            be aware of your body, and your breath, come back into the here and now, move your
            body slowly and open your eyes.
        </p>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dAs_WRpTiZk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="p-6"></iframe>
        </div>

    </div>



    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            2. 7 Chakra Meditation :
        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            1. Settle down & connect with your body: Get Comfortable. Sit in a meditation posture,
            close your eyes connect with each part of your body, and slowly bring your attention
            to your breath take 10 slower deeper longer breaths.
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            2. Then slowly bring your attention to your Root chakra ( Mooladhara ) imagine RED
            colour and take a deep inhalation and exhale with a chant LAM and prolong Mmmm
            and repeat 3 times
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            3. Then slowly bring your attention to your Sacral chakra ( Swadhishthana )imagine
            orange colour and take a deep inhalation and exhale with a chant VAM and prolong
            Mmmm and repeat 3 times
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            4. Then slowly bring your attention to your Solar plexus chakra ( Manipura ) imagine
            yellow colour and take a deep inhalation and exhale with a chant RAM and prolong
            Mmmm and repeat 3 times
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            5. Then slowly bring your attention to your Heart chakra ( Anahata
            ) imagine green and
            take a deep inhalation and exhale with a chant YAM and prolong Mmmm and repeat
            3 times
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            6. Then slowly bring your attention to your Throat chakra ( Vishudhha ) imagine Sky blue
            colour and take a deep inhalation and exhale with a chant HAM and prolong Mmmm
            and repeat 3 times
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            7. Then slowly bring your attention to your Third eye chakra ( Agna ) imagine Indigo
            colour and take a deep inhalation and exhale with a chant OM and prolong Mmmm
            and repeat 3 times
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            8. Then slowly bring your attention to your Crown chakra ( sahasrara ) imagine purple
            colour and take a deep inhalation and exhale with a chant SOHAM and prolong
            Mmmm and repeat 3 times
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            9. Come back to the normal rhythm of breathing, take 10 deep breaths, be aware of your
            body, your breath, come back into the here and now, move your body slowly and open
            your eyes.
        </p>


        <div class="flex items-center align-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/IV6zFGiOsUs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class=" p-6"></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/luInzaeIMnM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class=" p-6"></iframe>
        </div>

    </div>



    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            3. Ho'oponopono Meditation: Expressing love to self
        </h3>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg font-bold">
            How to practice :
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Settle down & connect with your body :


        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Get Comfortable. Sit in a meditation posture, close your eyes connect with each part of your body, slowly
            bring your attention to your breath take 10 slower deeper longer breaths and Say the following to yourself,
            to your body & your mind :
            <br>
            <span class="p-6">
                <ol>
                    <li>I Am sorry please forgive me for ……. ( You can add any statement that u want to add )
                    </li>
                    <li>I thank you for…. ( You can add any statement that u want to add )
                    </li>
                    <li>I Love you for…. ( You can add any statement that u want to add )
                    </li>
                    <li>I accept you for who you are
                    </li>
                    <li>Give yourself a warm gentle hug and hold the hug for at least 1 min
                    </li>
                    <li>Come back to the normal rhythm of breathing, take 10 deep breaths, be aware of your body, and
                        your breath, come back into the here and now, move your body slowly and open your eyes.
                    </li>
                </ol>

            </span>
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-bold">Please note: </span>You can practice the same thing with your loved
            ones to enhance your relationships.


        </p>


        <div class="flex items-center align-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jp2IlMgYUBk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class=" p-6"></iframe>


        </div>

    </div>

    <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            4. Mindful eating :
        </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Mindful eating (i.e., paying attention to our food, on purpose, moment by moment, without judgment) is an
            approach to food that focuses on individuals’ sensual awareness of the food and their experience of the
            food. It has little to do with calories, carbohydrates, fat, or protein. The purpose of mindful eating is
            not to lose weight, although it is highly likely that those who adopt this style of eating will lose weight.
            The intention is to help individuals savour the moment and the food and encourage their full presence for
            the eating experience.


        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-bold">How to do mindful eating
            </span>

        <ol>
            <li>Come to the table with an appetite — but not when ravenously hungry.
            </li>
            <li>Appreciate & be grateful for your food, and say thank you
            </li>
            <li>Start with a small portion.
            </li>
            <li>Bring all your senses to the meal.
            </li>
            <li>Take small bites.
            </li>
            <li>Chew thoroughly, be conscious of every bite
            </li>
            <li>Eat slowly & continue to appreciate the food.
            </li>
        </ol>
        Finish the meal & thank the food again.



        </p>


        <hr class="w-1/4 mt-4 mb-4 align-center">

</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            5. Body Scan :
        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Body scan meditation is a good way to release physical tension you might not even realize you're
            experiencing. Body scanning involves paying attention to parts of the body and bodily sensations in a
            gradual sequence from feet to head. By mentally scanning yourself, you bring awareness to every single part
            of your body, noticing any aches, pains, tension, or general discomfort. The goal is not to relieve the pain
            completely, but to get to know and learn from it so you can better manage it.
            <br><br>
            How to Do a Body Scan Meditation
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            As with all forms of meditation, doing a body scan is meant to be simple. Below are some instructions to get
            you started.
            <br>
            <span>
                <ol>
                    <li> <span class="font-bold"> Get comfortable. </span> Lying down is preferable, particularly if
                        you're doing a body scan meditation
                        before going to sleep. If that's not possible or comfortable, sitting comfortably is also an
                        option.

                    </li>
                </ol>
            </span>
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold"> Step 3: The Hold (1.00 - 1.30 min): </span> After the 30th
            exhalation, inhale one final time, as
            deeply as you can and exhale completely and hold for 1 min in the first round and 1.30
            min in the next 2 rounds
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold"> Step 4: Recovery Breath: </span> After the hold, take a deep
            inhalation and hold the breath
            inside for 15 seconds as a recovery breath and exhale.
        </p>

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-semibold text-center"> PLEASE NOTE: Repeat the same cycle 3 times back to
                back
            </span>

            <br><br>

            <span class="font-bold">Last Step: </span>Come back to the normal rhythm of breathing, take 10 deep breaths
            again,
            be aware of your body, and your breath, come back into the here and now, move your
            body slowly and open your eyes.
        </p>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/d9D2TbtBdsQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="p-6"></iframe>
        </div>

    </div>

    <hr class="w-1/4 mt-4 mb-4 align-center">
</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            6. 4-7-8 breathing :
        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            The 4-7-8 breathing technique, also known as “relaxing breath,” involves breathing in for 4 seconds, holding
            the breath for 7 seconds, and exhaling for 8 seconds.

        <ol>
            <li>Step 1. To practice 4-7-8 breathing, find a place to sit or lie down comfortably. Be sure you practice
                good posture, especially when starting out. If you’re using the technique to fall asleep, lying down is
                best.</li>

            <li> Step 2. First, let your lips part. Make a whooshing sound, exhaling completely through your mouth.</li>

            <li>Step 3. Next Close your lips and inhale silently through your nose as you count to 4 in your head (
                visualise an energy flow from the naval to the crown while inhaling )</li>

            <li>Step 4. Hold your breath in the crown for a count of 7</li>

            <li>Step 5. Part your lips slightly and exhale completely through your mouth making a whoosh sound for a
                count of 8</li>

        </ol>

        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span>
                <ol>
                    <li class="font-bold"> Practice this pattern for 4 - 8 full breaths and can
                        gradually increase
                    </li>

                    <li><span class="font-bold">Please Note:
                        </span>
                        This breathing technique shouldn’t be practiced in a setting where you’re not prepared to fully
                        relax. While it doesn’t necessarily have to be used for falling asleep, it can still put the
                        practitioner into a state of deep relaxation. Make sure you don’t need to be fully alert
                        immediately after practicing your breathing cycles.</li>
                </ol>
            </span>
        </p>

    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/UXAgRBaHSyU" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="p-6"></iframe>
    </div>
    <hr class="w-1/4 mt-4 mb-4 align-center">
</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            7. Gratitude meditation :

        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            If you want a dynamic and effective way to quickly improve your life, and bring happiness, harmony and
            success to it, look no further than the practice of gratitude.
            <br>
            Gratitude is a deeply undervalued trait in today’s fast-paced, technology-infused world. Many of us have
            little time to spare. Any free time we are able to enjoy, we usually spend in an attempt to catch our breath
            before plunging back into the chaos.
            <br>
            The practice of gratitude can have a deep and lasting impact on our well-being. The small investment of time
            it requires is well worth the effort, and with regular practice, gratitude can become a daily habit that
            permeates your life.
            <br>
            Gratitude refers to the acknowledgement and appreciation for the things, people, and circumstances of your
            life. Grateful Mantra Meditation
        </p>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-bold">
                Part 1: Grateful mantra meditation :
            </span>
            <br>
            Too often we find ourselves caught up in the difficulties of our lives. We get bogged down
            with the many challenges we face, and sometimes find it easier to focus on the negative
            than on the positive. <br>
            This is perfectly natural. But if you find yourself wanting to steer your thoughts in a more
            positive direction, then a gratitude meditation may do the trick. <br>
            We take a lot of things for granted without realizing it. When we focus on the things that
            go wrong, we often overlook the great multitude of things that are going right in our
            lives. <br>
            Gratitude meditations will help you remember the small blessings you may take for
            granted in your day-to-day life. First, find a comfortable position to rest in, either in a
            chair, or on a comfortable flat surface. <br>
        </p>

        <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <li>1. Take a moment to center yourself. Turn off the ringer on your phone to ensure you
                won’t be disturbed. If you’re able, close the door to the room you’re in.</li>
            <li>2. Now, take a deep breath through your nose. Fill your lungs entirely with air. Let your
                breath out through your mouth.</li>
            <li>3. Take a few more deep breaths this way. In through the nose, filling the lungs with air,
                and out through the mouth.</li>
            <li>4. Now, we’ll practice a gratitude mantra.The mantra is: I am grateful for ______________.</li>
            <li>5. Sounds pretty simple, right? All you need to do is fill in the blank with something you’re
                grateful for</li>
            <li>6. We will repeat this mantra 10 times. Each time you repeat the mantra, try to come up
                with something different that you’re thankful for. If you’re having trouble coming up with
                things, start small, focusing on your immediate environment</li>
            <li>7. You could be thankful for the breeze coming through the window, cooling your face. Or
                you could be grateful for the soft, plush surface you’re resting on.
                <br>
                Here are some suggestions to help you get started:
            </li>
            <span class="p-6">

                <li>I am grateful for the air in my lungs.
                </li>
                <li> I am grateful for my heart that beats and keeps me alive.</li>
                <li>I am grateful for my senses that help me perceive the world.
                </li>
                <li>I am grateful for my comfortable bed.
                </li>
                <li>I am grateful for my clothes that protect me and keep me warm.
                </li>
                <li>I am grateful for the tree in my yard that is beautiful to look at.</li>
                <li>I am grateful for the sun that shines through my window and brightens the room.
                </li>
                <li>I am grateful for the food in my fridge.
                </li>
                <li>I am grateful for my job that enables me to provide for myself and/or my loved ones.
                </li>
                <li>I am grateful for my family that cares for me.
                </li>
                <li>I am grateful for my pets that cheer me up.
                </li>
            </span>

        </ol>

    </div>


    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            Part 2: The Yin Yang Gratitude Practice ( Advance )
        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            It’s not easy to focus on the positive when you feel overwhelmed by how difficult your
            present circumstances may be. This meditation will help you understand that in any
            challenge, there also exists a lesson. Without darkness, we would not be able to perceive
            the light.
        </p>


        <ol class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <li> 1. Seat yourself in a comfortable position and take a few grounding breaths.</li>
            <li> 2. Draw your attention to something that’s currently troubling you. It’s best to start small
                with this practice. Draw on a minor annoyance or irritation that’s been bothering you. For
                example, perhaps the room you’re in is cold and drafty.</li>
            <li> 3. Identify something unpleasant you’re currently faced with, and then see if you can flip
                the negative circumstance to find a positive aspect. For example, perhaps the room
                you’re in is cold and drafty, but it has a large, beautiful window that lets in plenty of light.</li>
            <li> 4. As you continue to identify things you’re unhappy with in your life, do your best to find
                a positive opportunity that the circumstance provides. Perhaps you have a long commute
                to work that you find stressful. A positive spin on this situation could be that your
                commute gives you the opportunity to enjoy some great music, listen to a cool podcast,
                or even practice some mindfulness on the way to work.</li>
            <li> 5. Seeking the positive within the negative won’t be easy at first, but this is a skill that will
                spill over into many other areas of your life.</li>
        </ol>


        <div class="flex items-center align-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6IzG9vaOorY"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="p-6"></iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/5CHHPUg68ic"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="p-6"></iframe>
        </div>

    </div>

    <hr class="w-1/4 mt-4 mb-4 align-center">
</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            8. Trataka:
        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Trataka is a Sanskrit word, which means "to look" or "to gaze." As such,
            this meditation technique involves starting at a single point of focus.
        </p>

        <img src="{{ url_for('static', filename='assets/workbook/trataka.jpg') }}"
            class="max-w-full h-auto rounded-lg flex mx-auto" alt="..." />

        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            <span class="font-bold"> How to practice
            </span>
        <ol>
            <li>1.Sit in a meditation pose in front of a candle. Place the candle about an arm’s length
                away from you with the wick of the candle at the same height as your chest. If the candle
                is placed too high, it can create tension at the eyebrow centre, or produce a burning
                sensation in the eyes. The flame should be still and not moving in a draft. Close your
                eyes. Mentally repeat your Mantra as in meditation</li>
            <li>2. Open the eyes and look at the flame without blinking. The flame has three zones of
                colour. At the base of the wick is a reddish colour, in the middle it is bright white and at
                the tip it is slightly smoky. Concentrate on the upper part of the flame where it is
                brightest.</li>
            <li>3. Close the eyes again. If the image of the flame appears within, gently concentrate on
                that image without creating any tension. Try not to pursue or hold onto the image,
                otherwise, it will fade and disappear.</li>
            <li>4. Repeat the practice 3 times.</li>
            <li>5. The practice time should gradually build. In the initial stages, look at the flame only for
                about 10-15 seconds. Slowly increase this time, so that after about one year you can look
                at the flame for 1 minute and then concentrate on the inner image with closed eyes for
                about 4 minutes. Under no circumstances should this recommended length of time be
                exceeded.</li>
            <li>6. One may also practice Trataka while looking at a white point on black paper, or at a
                black point on white paper. When one concentrates on a white point, one sees this as a
                black image when the eyes are closed and vice versa with a black point.</li>
        </ol>
        </p>

    </div>

    <hr class="w-1/4 mt-4 mb-4 align-center">
</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            9. Sound healing
        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Listen to the track below.
        </p>

        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gRkN0TskcfI"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="p-6"></iframe>
        </div>

    </div>

    <hr class="w-1/4 mt-4 mb-4 align-center">
</section>

<section class=" m-10">
    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left" style="font-size: 1.25rem">
            10. Five-finger breathing :
        </h3>


        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
            Five-finger breathing reboots the computer,” Dr. Brewer said. “It takes so many sense
            modalities to do it, It calms you down immediately activating your parasympathetic
            nervous system and releasing happy chemicals
        <ol>
            <li>
                1. Start by placing one hand in front of you or on the ground.
            </li>
            <li>2. Spread your fingers apart.
            </li>
            <li>3. Using the pointer finger of the opposite hand, begin to trace up the outside of the
                thumb as you inhale deeply.</li>
            <li>4. Trace down the inside of the thumb as you exhale.
            </li>
            <li>5. Repeat this for the remaining fingers making sure to inhale as you trace up the finger
                and exhale as you trace down.</li>
            <li>6. Pause afterward to reflect on feelings and repeat as needed.
            </li>
        </ol>
        </p>
    </div>

    <hr class="w-1/4 mt-4 mb-4 align-center">
</section>

<section class="m-10">
    <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white text-center" style="color: #8E7CC3;">
        DAILY AFFIRMATIONS FOR ABUNDANCE AND CONFIDENCE
    </h1>

    <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
        DAILY AFFIRMATIONS FOR a healthy & happy life
    </h3>

    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            • Happy Life :
        </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <ol>
            <li>1. Life is easy, Life is effortless, Life is lot of fun.
            </li>
            <li>2. I am Blessed & grateful in every way
            </li>
            <li>3. I experience joy in everything I do
            </li>
        </ol>
        </p>

    </div>

    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            • Success & Money :
        </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <ol>
            <li>1. Success with ease is my soul’s love.

            </li>
            <li>2. I am open to receive an unlimited source of wealth in many ways.
            </li>
            <li>3. I am financially abundant.
            </li>
        </ol>
        </p>

    </div>

    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            • Self-belief :
        </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <ol>
            <li>1. I awaken the courageous & confident me.

            </li>
            <li>2. I love & believe in myself
            </li>
            <li>3. I am Balanced, wise & in control of everything around me.
            </li>
        </ol>
        </p>
    </div>

    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            • Spiritual Growth :
        </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <ol>
            <li>1. I am open to receive all the goodness & the abundance that the universe has to
                offer to me.
            </li>
            <li>2. I believe everything happens for my highest good.
            </li>
            <li>3. I follow my inner guidance
            </li>
        </ol>
        </p>
    </div>


    <div>
        <h3 class="font-bold  capitalize lg:text-4xl dark:text-white text-left text-red-700" style="font-size: 1.25rem">
            • Healthy Body :
        </h3>
        <p class="w-full md:w-full mx-auto mt-4 text-left text-gray-800 text-lg">
        <ol>
            <li>1.I am healthy & strong
            </li>
            <li>2.My body is powerful & knows how to heal itself
            </li>
            <li>3.My gut, Heart & immune system is Strong & healthy & keeps me safe
            </li>
        </ol>
        </p>
    </div>

</section>

<section class="m-10">
    <div class="flex space-x-2 justify-center">
        <a href="/grateful"
            class="inline-block px-6 py-2.5 bg-red-700 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-600 hover:shadow-lg focus:bg-red-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out">
            Write your own </a>
    </div>

</section>

{% endblock %}