{% extends 'layout.html' %}
{% block body %}

<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <div class="text-center">
            <h1 class="text-3xl font-bold capitalize lg:text-4xl dark:text-white" style="color: #8E7CC3;">Rediscover
                Yourself</h1>

            <p class="w-full md:w-full mx-auto mt-4 text-center text-gray-500">
                This program is focused on helping you enhance and align the four superpowers of your
                being - Mind, Body, Heart and soul, leading you on the road towards ultimate happiness, good health and
                joyful life.
                <br><br>

                The goal is to unwind and rejuvenate you and help you rediscover the authentic you, not just with fun
                activities or long discussions, but mainly through a powerful self-experiential journey with the help of
                unique healing modalities backed by ancient wisdom & modern scientific.
                <br> <br>

                The goal is also to help you set healthy & happy habits even post the program through daily doses of
                happiness.

            </p>
        </div>

        <br class="my-8 border-gray-200 dark:border-gray-700">

        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">

            <a href="/body_intelligence"
                class="object-cover shadow-md object-center w-full h-64 rounded-lg lg:h-80 transform  transition duration-500 hover:scale-105"
                style="background-color: #8E7CC3; display: flex;
                    align-items: center;
                    justify-content: center; text-align: center;">

                <h1 class="text-3x1 font-semibold capitalize lg:text-4xl text-white" ;">
                    Awakeining Body Intelligence</h1>
            </a>
            <a href="/decode_your_emotions"
                class="object-cover shadow-md object-center w-full h-64 rounded-lg lg:h-80 transform  transition duration-500 hover:scale-105"
                style="background-color: #8E7CC3; display: flex;
            align-items: center;
            justify-content: center; text-align: center;">
                <h1 class="text-3x1 font-semibold capitalize lg:text-4xl text-white" ;">
                    Decode Your Emotions</h1>
            </a>

            <a href="/limiting_beliefs"
                class="object-cover shadow-md object-center w-full h-64 rounded-lg lg:h-80 transform  transition duration-500 hover:scale-105"
                style="background-color: #8E7CC3; display: flex;
        align-items: center;
        justify-content: center; text-align: center;">
                <h1 class="text-3x1 font-semibold capitalize lg:text-4xl text-white" ;">
                    Let Go Of Your Limiting Beliefs</h1>
            </a>

            <a href="/7_charkas"
                class="object-cover shadow-md object-center w-full h-64 rounded-lg lg:h-80 transform  transition duration-500 hover:scale-105"
                style="background-color: #8E7CC3; display: flex; align-items: center;    justify-content: center; text-align: center;">
                <h1 class="text-3x1 font-semibold capitalize lg:text-4xl text-white" ;">
                    Activate Your 7 Chakras</h1>
            </a>



            <a href="/daily_dose_of_happiness"
                class="object-cover shadow-md object-center w-full h-64 rounded-lg lg:h-80 transform  transition duration-500 hover:scale-105"
                style="background-color: #8E7CC3; display: flex;
                                        align-items: center;
                                        justify-content: center; text-align: center;">
                <h1 class="text-3x1 font-semibold capitalize lg:text-4xl text-white" ;">
                    Daile Dose Of Happiness</h1>
            </a>

            <a href="/the_way_forward"
                class="object-cover shadow-md object-center w-full h-64 rounded-lg lg:h-80 transform  transition duration-500 hover:scale-105"
                style="background-color: #8E7CC3; display: flex;
                                    align-items: center;
                                    justify-content: center; text-align: center;">
                <h1 class="text-3x1 font-semibold capitalize lg:text-4xl text-white" ;">
                    The Way Forward</h1>
            </a>

        </div>

    </div>
</section>


{% endblock %}