article {
    background-color: #F9FAFB;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    border-radius: 5%;
}

.wrapper {
    position: relative;
}

.marquee {
    animation: marquee 25s linear infinite;
}

.marquee2 {
    animation: marquee2 25s linear infinite;
    position: absolute;
    top: 0;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

li {
    margin: 8px;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}